@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: white;
}

.nav-link{
  position: relative;
}


.nav-link::after{
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: darkslateblue;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after{
  opacity: 1;
}

/* berita terpopuler + rekomendasi */
.list-group-item a:link {
  color: black; /* Warna teks saat belum diklik */
  text-decoration: none; /* Menghapus garis bawah pada tautan */
}

.list-group-item a:visited {
  color: black; /* Warna teks saat sudah diklik */
}

.list-group-item a:hover {
  color: #0d6efd; /* Warna teks saat diarahkan kursor */
}

.list-group-item a:active {
  color: #0d6efd; /* Warna teks saat sedang diklik */
}



/* berita utama */
.card-text a:link {
  color: black; /* Warna teks saat belum diklik */
  text-decoration: none; /* Menghapus garis bawah pada tautan */
}

.card-text a:visited {
  color: black; /* Warna teks saat sudah diklik */
}

.card-text a:hover {
  color: #0d6efd; /* Warna teks saat diarahkan kursor */
}

.card-text a:active {
  color: #0d6efd; /* Warna teks saat sedang diklik */
}

/* bagian tech 2 */
p a {
  color: black;
}

p a:hover {
  color: #0d6efd;
  text-decoration: underline;
}

/* footer */
.footer {
  padding: 20px 0;
}

.social-media-icons {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.social-media-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-media-icons li:last-child {
  margin-right: 0;
}

.social-media-icons a {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-media-icons a:hover {
  color: #8a3ab9;
}

